.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

.container p {
    color: var(--font-color);
    font-size: 18px;
    font-weight: 400;
}