/* sidebar */
.sidebarMenu {   
    width: 296px;   
}

.sidebarMenuItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue-lite); 
    padding: 8px 8px 0 8px;
    border-radius: 8px;
}

.sidebarMenuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px; 
}

.sidebarMenuItem a {
    text-decoration: none;    
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: var(--font-color);
}

.sidebarMenuItem img {
    margin-right: 12px;
    width: 24px;
}

.sidebarMenuItem:hover {
    cursor: pointer;
}

.sidebarMenuItem.active {
    background-color: var(--grey-lite);
}

@media (max-width: 936px) {

    .sidebarMenu {
        width: 100%;
        margin-bottom: 16px;
    }

    .sidebarMenuItems {
        flex-direction: row;
        width: 100%;
        background-color: #fff;         
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        color: var(--font-color); 
    }

    .sidebarMenuItem {
        margin: 0 8px 0 0;
        height: 100%;
    }

    .sidebarMenuItem img {
        display: none;
    }

    .sidebarMenuItem.active {
        background-color: var(--grey-button);
    }

}