.popUpErrorForm {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.errorFormContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.errorFormContent {
    margin: auto;
    height: auto;
    max-width: 400px;
    width: 100%;
    vertical-align: middle;
    text-align: left;    
    position: relative;    
    
}

.errorFormBody {
    /* margin: 8px; */
    background-color: #fff;
    border-radius: 8px;    
    padding: 16px;
}

.errorFormTitle {
    padding: 8px 0 16px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--black-amazon);
}

.errorFormReason {
    padding-bottom: 8px;
    color: var(--font-color);
    font-size: 15px;
    font-weight: 500;
}

.errorFormExplanation, .errorFormExample {
    padding-bottom: 8px;
    color: var(--grey-arrow);
    font-size: 15px;
    font-weight: 400;
}

.errorFormOk {
    text-align: right;
    padding-top: 8px;
}

.errorFormOk button {
    padding: 8px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--button-color); 
}

.errorFormOk button:hover {
    border-radius: 8px;    
    background-color: var(--grey-lite);
    cursor: pointer;
    
}

@media (max-width: 410px) {

    .errorFormBody {
        margin: 8px;
    }

}