.header {
    height: 64px;
    background-color: #fff; 
    box-sizing: content-box;
    border-bottom: solid #99ABD7 1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
}

.headerItems {    
    max-width: 1880px;
    min-width: 320px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0 auto;
    padding: 0 24px;
}

.headerMain {   
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

@media screen and (max-width: 550px) {

    .header {
        height: 48px;
    }

    .headerItems {
        padding: 0 12px;
    }

}