.mainWrapper {
    padding: 16px;
    margin: 64px auto 0 auto; 
    z-index: 1;
}

.formContainer {
    max-width: 936px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;    
}

.formContent {
    display: flex;
    min-height: 176px;
}

.mainContent {
    flex: 1;
    width: 616px;
    margin-left: 16px;
    background-color: #fff;
}

.sectionGroup {
    background-color: var(--blue-lite);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;    
}

.sectionGroup > .title {
    margin: 8px;
    color: var(--font-color);
    font-size: 18px;
    font-weight: 400;        
}

@media (max-width: 936px) {
    
    .formContent {
        flex-direction: column;
    }

    .mainContent {
        width: 100%;
        margin-left: 0;
    }

}

@media (max-width: 624px) {

    .mainWrapper {
        padding: 16px 8px 8px 8px;
    }

    .sectionGroup {
        margin-bottom: 16px;
    }

    .sectionGroup > .title {
        margin: 8px 0 8px 8px;
        font-size: 18px;
    }

}

